<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->

<div class="row">
	<!-- We include the sidebar as it is shared across two screens. -->
    <div class="col-md-3 sidebar">
        <ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>
    </div>

    <div id="mainframe" class="col-md-9 mainframe">
    	<div id="dishView" class="row">
    		<div class="col-md-5 dishInfo">
				<h2>{{name}}</h2>
				<img src="{{image}}" width="300"><br /><br />
				{{description}}<br /><br />
				<a href="#/search" class="btn submitBtn">Back to Select Dish</a>
			</div>
			<div class="col-md-5 dishIngredients">
				<p>INGREDIENTS FOR {{getNumberOfGuests()}} PEOPLE</p><br/>
				<table class="table ingredientsTable" id="ingredientrTbl">
					<tr ng-repeat="ingredient in ingredients">
						<td>{{ingredientAmount(ingredient)}} {{ingredient.MetricUnit}}</td>
						<td>{{ingredient.Name}}</td>
						<td>SEK</td>
						<td>{{ingredientAmount(ingredient)}}</td>
					</tr>
				</table>
				<a href="#/search" class='btn submitBtn' ng-click="addDishToMenu()">Confirm Dish</a>
				<p align="right">SEK {{totalCost()}}</p>
			</div>
		</div>
		<div id="recipe_preparations" class="row recipe_preparations">
			<h2>Preparations</h2>
			{{preparations}}
		</div>
	</div>
</div>
